body{
    background-color: lightcyan;
    horiz-align: center;
    vertical-align: center;
}

div{
    text-align: center;
    background-color: aliceblue;
}

header {
    text-align: center;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: large;
}

form{

}