body{
    background-color: lightgray;
    horiz-align: center;
    vertical-align: center;
}

div{
    text-align: center;

}

header {
    text-align: center;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: large;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}