<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Analyzer</title>
        {% load staticfiles  %}
        <script src="{%  static 'js/jquery-3.4.1.js' %}"></script>
        <script src="{% static 'js/plotly-latest.min.js'%}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    </head>
    <header>
        <h1>OSA</h1>
        <h2>Online Sound Analyzer</h2>
    </header>
    <body>

        <div id="soundWave"></div>
        <div id="spectogram"></div>

        <script>
            soundWave = document.getElementById('soundWave');
            let x = {{x_values}};
            let y = {{y_values}};
            let data = [{x:  x,
                         y:  y}];

            var SoundPlot = Plotly.newPlot(soundWave, data,
                {
                    title:'Sound wave',
                    responsive:true,
                    height: 600
                },);

            soundWave.on('plotly_click', function
                (data){
                    var pts = '';
                    for(var i=0; i < x.length; i++)
                    {
                        pts = 'x = '+ x[i] +'\ny = '+  y[i].toPrecision(4) + '\n\n';
                    }
                    alert('Closest point clicked:\n\n'+pts);
            });



            var heatmapData = [
              {
                z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
                x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                y: ['Morning', 'Afternoon', 'Evening'],
                type: 'heatmap'
              }
            ];

            Plotly.newPlot('spectogram', heatmapData);
        </script>

</body>
</html>